{% extends 'common/base.html' %}
{% block title %}
    时间预约
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="head">
        <img src="/static/images/back.png" style="width: 20px; height: 20px; margin-right: 10px"
             onclick="window.history.back()">
        <img src="/static/images/home.png" style="width: 20px; height: 20px"
             onclick="window.location.href='/hello/'">
        <img src="/static/images/logout.png" style="width: 20px; height: 20px; float: right"
             onclick="window.location.href='/logout'">
    </div>
    <div class="container">
        <div class="outer">
            <span style="margin: auto; ">问卷列表</span>
        </div>

        <table class="basic_table">
            <thead>
            <tr>
                <th>问卷类型</th>
                <th>生效时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="result_set">
            <tr>
                <td id="tips" colspan="3">数据正在载入中...</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}


{% block script %}
    <script type="text/javascript">
        /**
         * 预加载页面时：请求后台获取全部问卷列表。
         */
        window.onload = function () {
            call_ajax('getSurveyList', {"csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()});
        }

        /**
         * 上述Ajax执行完的回调处理。主要做以下几件事：
         * 1. 根据返回的数据列表生成表格；
         * 2. 生成“查看”的Ajax点击事件。
         */
        function getSurveyList(res) {
            if (res["status"] != "00") {
                alert(res["msg"]);
                return false;
            }

            const data = res["data"];
            if (data.length == 0) {
                document.getElementById("tips").innerText = "没有需要处理的用户申请";
                return false;
            }

            const result_set = document.getElementById("result_set");
            for (let i = 0; i < data.length; i++) {
                const survey_id = data[i]["survey_id"]
                const survey_type = surveyTypeDic[data[i]["survey_type"]]
                const create_dt = data[i]["create_dt"]
                const tr_elem = create_elem("tr", survey_id);
                tr_elem.appendChild(create_elem("td", null, null, survey_type));
                tr_elem.appendChild(create_elem("td", null, null, create_dt));
                const td_elem = create_elem("td");
                td_elem.appendChild(create_elem("span", null, "o_link", "查看"));
                tr_elem.appendChild(td_elem);
                result_set.appendChild(tr_elem);
            }
            result_set.removeChild(document.getElementById("tips").parentNode);

            const o_link = document.getElementsByClassName("o_link");
            for (let i = 0; i < o_link.length; i++) {
                o_link.item(i).addEventListener("click", function () {
                    let survey_id = this.parentNode.parentNode.id;
                    window.location.href = "/direct/trainer/surveyQuestion?survey_id=" + survey_id;
                })
            }
        }
    </script>
{% endblock %}
