{% extends 'common/base.html' %}
{% block title %}
    教练首页
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="head">
        <img src="/static/images/back.png" style="width: 20px; height: 20px; margin-right: 10px"
             onclick="window.history.back()">
        <img src="/static/images/home.png" style="width: 20px; height: 20px"
             onclick="window.location.href='/hello/'">
        <img src="/static/images/logout.png" style="width: 20px; height: 20px; float: right"
             onclick="window.location.href='/logout'">
    </div>
    <div class="logo" style="margin: 20px">
        <div class="topic">
            <div class="question"></div>
            <div></div>
        </div>
    </div>
    <div class="survey">


    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        window.onload = function () {
            call_ajax("getAppointWork", {
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
                "work_type": getQueryString("work_type"),
                "appoint_id": getQueryString("appoint_id"),
            })
        }

        function getAppointWork(res) {
            if (res["status"] !== "00") {
                alert(res["msg"]);
                return false;
            }

            const survey = document.getElementsByClassName("survey")[0];
            const work_list = res["data"]["work_list"];

            work_list.forEach(function (value, key, parent) {
                let elem_topic = create_elem("div", null, "topic");
                let elem_question = create_elem("div", null, "question");
                let elem_textarea = create_elem("textarea");
                elem_question.innerHTML = value["context"];
                if (value["answer"]) {
                    elem_textarea.innerHTML = value["answer"];
                }
                elem_topic.appendChild(elem_question);
                elem_topic.appendChild(elem_textarea);
                survey.appendChild(elem_topic);
            })
        }
    </script>
{% endblock %}