*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 960px;
    padding: 3px 5px;
    z-index: 1;
}

.container .outer {
    position: relative;
    display: flex;
    color: white;
    background: #337ab7;
    padding: 10px;
}


.container .operate {
    position: absolute;
    right: 20px;
}

.left {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    color: black;
    height: 20px;
}


#date {
    float: left;
}

.cell_1 {
    width: 20%;
    height: 50px;
}

.o_link {
    color: blue;
    margin-right: 10px;
    cursor: hand;
}

.dialog {
    width: 200px;
    border: solid 1px green;
    line-height: 30px;
    text-align: center;
    position: fixed;
    right: 50px;
    top: 50px;
    color: green;
    background-color: lightgreen;
}



